## Basic List Operation

In [45]:
cities=['Mumbai','Banglore','Hyderabad','Chennai','Delhi']
print(cities)

['Mumbai', 'Banglore', 'Hyderabad', 'Chennai', 'Delhi']

In [46]:
len(cities)#return length or size of the .list

5

In [47]:
cities[1]

'Banglore'

In [48]:
cities[-1]#-1 iterates from last index

'Delhi'

In [49]:
cities[-1::-1]#print list in freverse order

['Delhi', 'Chennai', 'Hyderabad', 'Banglore', 'Mumbai']

In [50]:
cities.append('PodiCherry')

In [51]:
cities

['Mumbai', 'Banglore', 'Hyderabad', 'Chennai', 'Delhi', 'PodiCherry']

In [52]:
#to append multiple values to list
cities.extend(['Pune','Noida','Gurgaon'])
cities

['Mumbai',
 'Banglore',
 'Hyderabad',
 'Chennai',
 'Delhi',
 'PodiCherry',
 'Pune',
 'Noida',
 'Gurgaon']

## ListComprehension

In [53]:
list_a=[1,2,3,4,5]
list_b=[6,2,3,4,7]

common_num=[a for a in list_a for b in list_b if a==b]

"""
for a in list_a:
    for b in list_b:
        if a==b:
            common_num.append(a)
"""
common_num

[2, 3, 4]

### Print even numbers in list

In [54]:
even_number=[i for i in range(0,20) if i%2==0]
even_number

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [55]:
square_root=[i**0.5 for i in range(0,20)]
square_root

[0.0,
 1.0,
 1.4142135623730951,
 1.7320508075688772,
 2.0,
 2.23606797749979,
 2.449489742783178,
 2.6457513110645907,
 2.8284271247461903,
 3.0,
 3.1622776601683795,
 3.3166247903554,
 3.4641016151377544,
 3.605551275463989,
 3.7416573867739413,
 3.872983346207417,
 4.0,
 4.123105625617661,
 4.242640687119285,
 4.358898943540674]

## sort list

In [56]:
cities.sort()
print(cities)

['Banglore', 'Chennai', 'Delhi', 'Gurgaon', 'Hyderabad', 'Mumbai', 'Noida', 'PodiCherry', 'Pune']

In [57]:
#using pop method to remove last element
#pop removes last value from from the list
cities.pop()
print(cities)

['Banglore', 'Chennai', 'Delhi', 'Gurgaon', 'Hyderabad', 'Mumbai', 'Noida', 'PodiCherry']

## Task

In [58]:
cities.sort()
print(cities)
sorted(cities,reverse=True)

#difference between sort and sorted
"""

The primary difference between the list sort() function and the sorted()
function is that the sort() function will modify the list it is called on.
The sorted() function will create a new list containing a sorted version of the list it is given. 
The sorted() function will not modify the list passed as a parameter. 
If you want to sort a list but still have the original unsorted version, 
then you would use the sorted() function.
If maintaining the original order of the list is unimportant, then you can call the sort() function on the list.
"""

['Banglore', 'Chennai', 'Delhi', 'Gurgaon', 'Hyderabad', 'Mumbai', 'Noida', 'PodiCherry']

'\n\nThe primary difference between the list sort() function and the sorted()\nfunction is that the sort() function will modify the list it is called on.\nThe sorted() function will create a new list containing a sorted version of the list it is given. \nThe sorted() function will not modify the list passed as a parameter. \nIf you want to sort a list but still have the original unsorted version, \nthen you would use the sorted() function.\nIf maintaining the original order of the list is unimportant, then you can call the sort() function on the list.\n'

In [59]:
#Difference between pop and remove
"""
list.remove(value)
Yes, remove() removes the first matching value/object. It does not do anything with the indexing.

del list[index]
del removes the item at a specific index.


remove() delete the matching element/object whereas del and pop removes the element at a specific index.

del and pop deals with the index. 

The only difference between two is that- pop return deleted the value 
from the list and del does not return anything.

Pop is only way that returns the object.
Remove is the only one that searches object (not index).

"""
print(cities.remove('Delhi'))
print(cities)
print(cities.pop(3))
print(cities)
del cities[0]
print(cities)

None
['Banglore', 'Chennai', 'Gurgaon', 'Hyderabad', 'Mumbai', 'Noida', 'PodiCherry']
Hyderabad
['Banglore', 'Chennai', 'Gurgaon', 'Mumbai', 'Noida', 'PodiCherry']
['Chennai', 'Gurgaon', 'Mumbai', 'Noida', 'PodiCherry']

In [62]:
#to insert value at particular  index
cities.insert(0,'Banglore')
print(cities)
#index rfturns the index of object
print(cities.index('Banglore'))

['Banglore', 'Banglore', 'Banglore', 'Chennai', 'Gurgaon', 'Mumbai', 'Noida', 'PodiCherry']
0

In [63]:
#delete at particular index
del cities[0]
print(cities)
#delete range of index
del cities[1:]
print(cities)

['Banglore', 'Banglore', 'Chennai', 'Gurgaon', 'Mumbai', 'Noida', 'PodiCherry']
['Banglore']

## Dictionary

In [78]:
sample_dict={
    'a':'AI',
    'b':'Business',
    'c':'Cost',
    'd':'Data'
}
print(sample_dict)

{'a': 'AI', 'b': 'Business', 'c': 'Cost', 'd': 'Data'}

In [67]:
print(sample_dict.get('a'))#to get value from dictionary
print(sample_dict['a'])

AI
AI

In [68]:
print(sample_dict.keys())

dict_keys(['a', 'b', 'c', 'd'])

In [69]:
print(sample_dict.values())

dict_values(['AI', 'Business', 'Cost', 'Data'])

In [70]:
print(sample_dict.items())

dict_items([('a', 'AI'), ('b', 'Business'), ('c', 'Cost'), ('d', 'Data')])

In [73]:
#iterating over dictionary
for val in sample_dict.items():
    print(val)
    
for key,val in sample_dict.items():
    print('{',key,':',val,'}')

('a', 'AI')
('b', 'Business')
('c', 'Cost')
('d', 'Data')
{ a : AI }
{ b : Business }
{ c : Cost }
{ d : Data }

In [74]:
#extracting keys from dictionary
for key in sample_dict.keys():
    print(key)

a
b
c
d

In [75]:
#removing items from dictionary
sample_dict.pop('a')
print(sample_dict)

{'b': 'Business', 'c': 'Cost', 'd': 'Data'}

In [76]:
#clear -remove all the items from dictionary
sample_dict.clear()

In [77]:
print(sample_dict)

{}

In [81]:
#The backslashes in a string introduce us to a special bytes of codes called 'escape sequence'
s='a\nb\tc'
print(s)
#\n for new line \t for tab
s1="a\nb\tc"
print(s1)

a
b	c
a
b	c

In [82]:
#length of string
s="Hey there"
print(len(s))

9

In [83]:
#String concatination
combine='supervised'+'learning'
print(combine)

supervisedlearning

In [84]:
#repeitition of string
repeat='AI!'*5
print(repeat)

AI!AI!AI!AI!AI!

In [85]:
'''Also, note Python doesn't allow to mix a string such as 'a' and an integer 9 . It raises an error
instead of automatically converting 9 to a string.'''
mix='a'+9
print(mix)

TypeError: can only concatenate str (not "int") to str

### Indexing and slicing

In [86]:
s = "Hey there! what should this string be?"
print("The first occurrence of the letter a = ",s.index("a")) # First occurrence of "a"

The first occurrence of the letter a =  13

In [91]:
#slicing a string
print('first  five characters in a string:-',s[:5])#start upto 5th postion
print('print the next 5 characters:-',s[5:10])#From 5th to 10 th position
print('The thirteen charcter is:-',s[12])
print('Print all the character at odd index:-',s[1::2])
print('Print last 5 characters:-',s[-5:])

first  five characters in a string:- Hey t
print the next 5 characters:- here!
The thirteen charcter is:- h
Print all the character at odd index:- e hr!wa hudti tigb?
Print last 5 characters:- g be?

In [93]:
string = 'Let\'s being the python tutorial  '
print(string.rstrip())

Let's being the python tutorial

## Handling Exceptions

In [94]:
try:
    pundsEach=5/0
except ZeroDivisionError:
    print("can't divide with 0")

can't divide with 0

## Lambda Function
Lambda function are small functions usually not more than a line.

In [95]:
def multiply(x,y):
    return x*y

In [96]:
(lambda x,y:x*y) (3,4)

12

## Map Function
Map function expects a function object and any number of iterables like list,dictionaries

In [97]:
map_output=list(map(lambda x:x*2,[1,2,3,5]))

In [98]:
print(map_output)

[2, 4, 6, 10]